@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

h1 {
    letter-spacing: -2px;
}

#bottomright h3 {
    letter-spacing: -3px;
    white-space: nowrap;
}

#topright h2 {
    white-space: nowrap;
    letter-spacing: -2px;
}

#topleft {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topleft h1,
#topright h1,
#bottomright h1,
#bigchart h1,
#closer h1,
.title {
    background-color: rgba(0, 117, 130, 0.85);
    border-radius: 10px;
    box-shadow: 2px 2px #003940;
    width: 99%;
    height: auto;
    margin-top: 1%;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: rgba(130, 61, 0,0.35);
}

#header {
    background-color: rgba(1, 39, 43, 0.65);
    box-shadow: 2px 2px #003940;
    width: 99%;
    height: auto;
    margin-top: 1%;
}

#bottomleft h3 {
    background-color: rgba(0, 117, 130, 0.85);
    height: auto;
    margin-top: -10px;
}

#bigchart h3 {
    margin-top: -7.5px;
    margin-bottom: 0px
}

#header h1 {
    margin-top: 0px;
    line-height: 65px;
    white-space: nowrap;
    letter-spacing: -3px;
}

#header h2 {
    white-space: nowrap;
    letter-spacing: -2px;
}

#closer h1,
#bigchart h1 {
    margin-bottom: -1px
}

#closer h1 {
    white-space: nowrap;
    letter-spacing: 0px;
}

#topleft h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: -2px;
    height: 18%;
    border-radius: 8px;
}

a {
    color: #D1DEDC;
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shorter {
    height: 350px;
}

#taller {
    height: 450px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 71, 79, 0.35);
    width: 98%;
    height: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px #003940;
}

.container p {
    padding-top: 1px;
}

.wrapper {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

#mainbreaker {
    width: 102%;
    margin-top: -8px;
    border-radius: 0px;
}

#mainbreaker h1 {
    font-size: 42px;
    margin-bottom: 2px;
}

#mainbreaker h2 {
    font-size: 28px;
    margin-top: -4px;
}

#mainbreaker p,
#closer p {
    margin-top: 10px;
    font-size: 22px;
    letter-spacing: -1.5px;
    padding-bottom: 1%;
    text-align: justify;
}

#topleft h4 {
    color: #D1DEDC;
    text-shadow: 2px 2px #00028270;
    letter-spacing: 1px;
    line-height: 16px;
    font-size: 14px;
}

#mainbreaker,
#topleft,
#topright,
#bottomleft,
#bottomright,
#bigchart,
#closer,
footer {
    box-shadow: 2px 8px #00bacfa4;
    box-shadow: -2px 8px #00bacfa4;
    box-shadow: -2px .5px #47331ac9;
    box-shadow: 2px .5px #47331ac9;
}

.breaker h2 {
    font-size: 40px;
    text-shadow: 2px 2px #00028270;
    margin-bottom: 1%;
    letter-spacing: 2.5px;
    text-decoration: underline;
}

#topleft h3 {
    text-shadow: 2px 2px #00028270;
    letter-spacing: 2px;
}

h3 {
    font-size: 20px;
}

#map.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
}

.rows h1,
.rows h3 {
    text-shadow: 2px 2px #00028270;
    margin: .75%;
    color: #D1DEDC
}

.rows h2 {
    text-shadow: 2px 2px #00028270;
    margin: .75%;
    color: #D1DEDC;
    font-size: 18px;
}

.rows.column {
    margin-left: .5%;
    margin-right: .5%
}

.divider {
    width: 2%;
}

#bigchart {
    display: flex;
    height: 325px;
    margin-bottom: 10px;
}

.breaker {
    display: flex;
    height: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: auto;
    font-size: 20px;
    letter-spacing: -1px;
    background-color: #007582bf;
    text-shadow: 2px 2px #00028270;
    color: #D1DEDC;
    border-radius: 15px;
}

footer {
    display: flex;
    height: 70px;
    align-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: -1px;
    background-color: rgba(3, 43, 48, 0.85);
    text-shadow: 2px 2px #00028270;
    color: #D1DEDC;
    border-radius: 6px;
    margin-top: .5%;
}

.breaker p {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -.5px;
    margin-bottom: -1px;
    padding: 2px;
    font-size: 26px;
}

.breaker h2 {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    font-size: xx-large;
}

@media (max-width: 600px) {
    #topleft,
    #topright,
    #bottomleft,
    #bottomright {
        display: flex;
        background-color: #007582bf;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 25px;
    }
    .rows {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .canvasjs-chart-canvas {
        width: 400px !important;
    }
    iframe {
        width: 600px;
        height: 350px;
        display: flex;
        align-self: center;
    }
    #mapid,
    #chart1,
    #chart2,
    #chart3,
    #box {
        width: 100%;
        height: 95%;
        display: block;
        align-self: center;
        overflow: hidden;
    }
    #mapid {
        width: 100%;
        height: 300px;
        display: block;
        align-self: center;
    }
}

@media (min-width: 601px) {
    h1 {
        font-size: -2px;
        letter-spacing: -2px;
        color: #D1DEDC;
    }
    h3 {
        color: #D1DEDC;
        letter-spacing: -1px;
    }
    #topleft,
    #topright,
    #bottomleft,
    #bottomright {
        display: flex;
        padding: 5px;
        margin: 5px;
        background-color: #007582bf;
        overflow: hidden;
        border-radius: 25px;
        width: 90%;
        justify-content: center;
        text-align: center;
    }
    .rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 500px;
        margin-top: .75%;
    }
    .column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .canvasjs-chart-canvas {
        width: 100% !important;
        height: 100%;
    }
    #mapid {
        height: -10%
    }
    iframe {
        width: 600px;
        height: 350px;
        display: flex;
        align-self: center;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    #mapid,
    #chart1,
    #chart2,
    #chart3,
    #box {
        width: 90%;
        height: 90%;
        display: block;
        align-self: center;
    }
}

.stage {
    margin: 1%;
    box-shadow: 2px 2px #003940;
}

body {
    background-color: #D1DEDC;
    font-family: 'Lucida Sans Regular', 'Tahoma', 'Helvetica'
}

footer h2 {
    word-wrap: break-word;
    width: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1%;
    margin-left: 1%;
    font-size: 22px;
}

footer a {
    text-align: left;
    line-height: 150%;
    width: 100%;
    margin-left: 0px;
}