@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

a {
    color: white;
    font-style: italic;
}

h1,
.breaker h2 {
    font-size: 36px;
    text-shadow: 2px 2px #00028270;
    margin-bottom: 1%;
    letter-spacing: 2.5px;
    text-decoration: underline;
}

#topleft h3 {
    font-size: 22px;
    text-shadow: 2px 2px #00028270;
}

#map.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
}

.rows h1,
.rows h2,
.rows h3 {
    text-shadow: 2px 2px #00028270;
    margin: .75%;
}

.rows.column {
    margin-left: 1.75%;
    margin-right: 1.75%
}

.divider {
    width: 2%;
}

#bigchart {
    display: flex;
    height: 500px;
    margin-bottom: 10px
}

.breaker {
    display: flex;
    height: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: auto;
    font-family: "Palatino", sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    background-color: #007582bf;
    text-shadow: 2px 2px #00028270;
    color: white;
    border-radius: 15px;
}

footer {
    display: flex;
    height: 2%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: flex-start;
    align-content: flex-start;
    width: 100%;
    font-family: "Palatino", sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    background-color: #007582bf;
    text-shadow: 2px 2px #00028270;
    color: white;
    border-radius: 6px;
    font-size: 30px;
    margin-top: .5%;
    padding: 1.5%;
}

.breaker p {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    font-size: xx-large;
}

.breaker h2 {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    font-size: xx-large;
}

@media (max-width: 600px) {
    h1 {
        color: white;
        font-size: -2px;
        letter-spacing: -2px;
        font-family: "Palatino", sans-serif;
    }
    h3 {
        color: white;
        font-family: "Palatino", sans-serif;
        font-size: 20px;
        letter-spacing: -1px;
    }
    #topleft,
    #topright,
    #bottomleft,
    #bottomright {
        display: flex;
        background-color: #007582bf;
        justify-content: center;
        overflow: hidden;
        border-radius: 25px;
    }
    .rows {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
    }
    .canvasjs-chart-canvas {
        width: 400px !important;
    }
    iframe {
        width: 600px;
        height: 350px;
        display: flex;
        align-self: center;
    }
    #mapid,
    #chart1,
    #chart2,
    #chart3 {
        width: 100%;
        height: 100%;
        display: block;
        align-self: center;
        overflow: hidden
    }
    #mapid {
        width: 100%;
        height: 300px;
        display: block;
        align-self: center;
    }
}

@media (min-width: 601px) {
    h1 {
        font-size: -2px;
        letter-spacing: -2px;
        font-family: "Palatino", sans-serif;
        color: white;
    }
    h3 {
        color: white;
        font-family: "Palatino", sans-serif;
        font-size: 20px;
        letter-spacing: -1px;
    }
    #topleft,
    #topright,
    #bottomleft,
    #bottomright {
        display: flex;
        padding: 5px;
        margin: 5px;
        background-color: #007582bf;
        overflow: hidden;
        border-radius: 25px;
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    .rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 500px;
        margin-top: .75%;
    }
    .column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 500px;
    }
    .canvasjs-chart-canvas {
        width: 100% !important;
        height: 100%;
    }
    #mapid {
        height: -10%
    }
    iframe {
        width: 600px;
        height: 350px;
        display: flex;
        align-self: center;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    #mapid,
    #chart1,
    #chart2,
    #chart3 {
        width: 90%;
        height: 100%;
        display: block;
        align-self: center;
    }
}

#chart1,
#chart2,
#chart3,
#bigchart,
#mapid,
.bead {
    margin: 1%;
    box-shadow: 2px 2px #00028270;
}

body {
    background-color: white;
}