@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

@media  (max-width: 600px) {
    h1 {
        font-size: -2px;
        letter-spacing: -2px;
        text-transform: uppercase;
       }
     h3 {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 20px;
        letter-spacing: -1px;
        text-transform: uppercase;
      }
    #topleft,
    #topright,
    #bottomleft,
    #bottomright {
        display: flex;
    }
    .rows {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        flex-wrap: wrap;  
        height: 500px;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;    
        width: 500px;
    }
    .canvasjs-chart-canvas {
        width: 400px !important;
    }
    iframe {
        width: 600px;
        height: 350px;
        display: flex;
        align-self: center;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    #mapid,
    #chart1,
    #chart2 {
        width: 80%;
        height: 100%;
        display: block;
        align-self: center;
    }
}

@media  (min-width: 601px) {
    h1 {
        font-size: -2px;
        letter-spacing: -2px;
        text-transform: uppercase;
       }
     h3 {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 20px;
        letter-spacing: -1px;
        text-transform: uppercase;
      }
    #topleft,
    #topright,
    #bottomleft,
    #bottomright {
        display: flex;
    }
    .rows {
        display: flex;
        flex-direction: row;
        justify-content: center;    
        height: 500px;
    }
    .column {
        display: flex;
        flex-direction: row;
        justify-content: center;    
        width: 500px;
    }
    .canvasjs-chart-canvas {
        width: 400px !important;
    }
    iframe {
        width: 600px;
        height: 350px;
        display: flex;
        align-self: center;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    #mapid,
    #chart1,
    #chart2 {
        width: 90%;
        height: 100%;
        display: block;
        align-self: center;
    }
}

body {
    background-image: -webkit-gradient( radial, 55% 50%, 0, 50% 50%, 1000, from(rgb(207, 241, 206)), to(rgb(98, 195, 233)));
}

footer {
    margin: 5px
}

